{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
<h2>Dashboard</h2>
{% if not current_user.is_authenticated() %}
<h3>Login</h3>
<p>To access the admin dashboard you need need to be logged into your account</p>
<form action="{{ url_for('admin.index') }}" method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
    {% if form.errors %}
    <ul class="text-error">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endif %}
    <div class="control-group{% if form.errors %} error{% endif %}">
            {{ form.email.label(class_='control-label') }}
        <div class="controls">
            {{ form.email() }}
        </div>
    </div>
    <div class="control-group{% if form.errors %} error{% endif %}">
        {{ form.password.label(class_='control-label') }}
        <div class="controls">
            {{ form.password() }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Login</button>
        </div>
    </div>
</form>
{% else %}
Hello {{ current_user.email }}, welcome to the Pravis admin dashboard.
{% endif %}
{% endblock %}
